#root {
  height: 100%;
}

.p-index__wrapper {
  background-color: #eee;
  height: 100%;
}

.p-index {
  background-color: #0f0b18;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.p-index__title {
  text-align: center;
}

.p-index__title img{
  width: 100%;
  max-width: 500px;
}

.p-index__desc {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.p-index__tweet {
  text-align: center;
  margin-bottom: 10px;
}



.c-user-rank__user__wrapper {
  transition: all 0.4s ease;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  display: block;
}

.c-user-rank__user__wrapper:last-of-type {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.c-user-rank__user__wrapper:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0);
}

.c-user-rank__user {
  position: relative;
  display: flex;
  padding: 10px;
  margin: 0 auto;
  max-width: 600px;
}

.c-user-rank__user__left {
  /* width: 100px;
  height: 100px; */
}

.c-user-rank__user__left__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.c-user-rank__user__left__stats__num {
  height: 20px;
}

.c-user-rank__user__left img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.c-user-rank__user__center {
  margin-left: 20px;
  margin-right: 5px;
  z-index: 10;
}

.c-user-rank__user__center__name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.c-user-rank__user__center__name__nickname {
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
}

.c-user-rank__user__center__name__label {
  padding: 2px 5px;
  background-color: #ffc800;
  color: black;
  border-radius: 5px;
  font-size: 12px;
}

.c-user-rank__user__center__signature {
  font-size: 12px;
  white-space: pre-wrap;
}

.c-user-rank__user__center__twitter__wrapper {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
}

.c-user-rank__user__center__twitter {
  display: flex;
  align-items: center;
  background-color: #00a1f9;
  padding-right: 8px;
  border-radius: 5px;
}

.c-user-rank__user__center__twitter:hover {
  opacity: 0.5;
}

.c-user-rank__user__center__twitter img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.c-user-rank__user__center__instagram {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-right: 8px;
  border-radius: 5px;
  color: black;
}

.c-user-rank__user__center__instagram:hover {
  opacity: 0.5;
}

.c-user-rank__user__center__instagram img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.c-user-rank__user__center__youtube {
  display: flex;
  align-items: center;
  background-color: #ff0000;
  padding-right: 8px;
  border-radius: 5px;
  color: #fff;
}

.c-user-rank__user__center__youtube:hover {
  opacity: 0.5;
}

.c-user-rank__user__center__youtube img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.c-user-rank__user__number {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 0px;
  color: gray;
  z-index: 1;
}

.c-paginator {
  /* display: inline-flex; */
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  overflow: scroll;
  width: 100%;
  white-space:nowrap;
  text-align: center;
}

.c-paginator div {
  display: inline-block;
}

.c-paginator__page {
  display: inline-block;
  margin: 10px 5px;
  padding: 5px 8px;
  color: gray;
  border: 1px solid gray;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
}

.c-paginator__page--current {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: black;
}

.react-select__wrapper {
  margin: 30px 0 10px 0;
}

.react-select {
  color: black;
  z-index: 50;
  width: 180px;
  margin: 0 auto;
}
